<section class="section">
  <p class="title is-3 has-text-white"> Explore the hiking trails of {{ location.location_name }}, North Carolina!</p>
  <p class="subtitle is-4 has-text-white">Click a trail card to view more.</p>
</section>

<div class="section">
  <div id="area-cards" class="section">
    <div class="container">
      <div class="columns is-multiline is-vcentered is-centered has-text-centered">
        {{#each location.trails as |trail|}}
        {{> search-details}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="section">
  {{#if logged_in}}
  <div class="card">
    <div class="card-content">
      <form id="new-trail-form" class="form">
        <div class="field is-horizontal">
          <div class="field-body">

            <div class="field">
              <strong>
                <label for="trail_name">
                  Trail Name:*
                </label>
              </strong>
              <div class="control">
                <input type="text" id="trail_name" class="input" placeholder="Trail Name">
                {{trail_name}}
              </div>
            </div>

            <div class="field">
              <strong>
                <label for="nc_city">
                  NC City:*
                </label>
              </strong>
              <div class="control">
                <input type="text" id="nc_city" class="input" placeholder="City">
                {{nc_city}}
              </div>
            </div>

            <div class="field">
              <strong>
                <label for="distance">
                  Distance:*
                </label>
              </strong>
              <div class="control">
                <input type="text" id="distance" class="input" placeholder="miles">
                {{distance}}
              </div>
            </div>

            <div class="field">
              <strong>
                <label for="difficulty_level">
                  Difficulty Level:*
                </label>
              </strong>
              <div class="control">
                <input type="text" id="difficulty_level" class="input" placeholder="Hard, Moderate, Easy">
                {{difficulty_level}}
              </div>
            </div>

            <div class="field">
              <div id="feature-input" class="control">
                <strong><label>Choose Features</label></strong>
                <br />
                <input type="checkbox" id="stroller_accessible" name="stroller_accessible" value="true" />
                <label for="stroller_accessible">
                  Stroller Accessible
                </label>
                <br />

                <input type="checkbox" id="restrooms" name="restrooms" value="true" />
                <label for="restrooms">
                  Restrooms
                </label>
                <br />

                <input type="checkbox" id="pet_friendly" name="pet_friendly" value="true" />
                <label for="pet_friendly">
                  Pet Friendly
                </label>
                <br />
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" value="Submit" class="button is-link">Submit</input>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="hidden">
        <p><strong>Thank you for your submission! Your trail will be reviewed shortly!</strong></p>
      </div>
      <div class="empty">
        <p><strong>Please complete all input fields!</strong></p>
      </div>
    </div>
  </div>
  {{/if}}
</div>

<script src="/js/add-trail.js"></script>