<div class="section">
  <div class="container">
    <div id="overlay-cards" class="columns is-multiline is-vcentered is-centered">
      <div class="column is-4">
        <div class="card is-on-left">
          <div class="card-header">
            <div class="card-header-title is-centered">
              <strong>{{ trail.trail_name }}</strong>
            </div>
          </div>
          <div class="card-image">
            <figure class="image">
              <img src="{{ trail.galleries.[0].url }}" alt="Trail Image">
            </figure>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="" http://maps.google.com/maps?z=12&t=m&q=loc:{{trail.latitude}}+{{trail.longitude}}""
                  class="card-footer-item">
                  Go to Directions!
                </a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                <input id="heart" type="checkbox" />
                <label for="heart">❤ Add to Favorite</label>
              </span>
            </p>
          </footer>
        </div>
      </div>

      <div class="column is-6">
        <div class="card is-on-right">
          <div class="card-content">
            <div class="columns is-multiline">
              <div class="column is-6">
                <ul>
                  <li><strong>Area: </strong>{{ trail.location.location_name }}</li>
                  <li><strong>Trail Type: </strong>{{ trail.type }}</li>
                  <li><strong>Difficulty: </strong>{{ trail.difficulty }}</li>
                  <li><strong>Distance: </strong>{{ trail.distance }} miles</li>
                  <li><strong>Elevation Gain: </strong>{{ trail.elevation_gain }} ft.</li>
                </ul>
              </div>
              <div class="column is-6">
                <ul>
                  <li><strong>Features: </strong></li>
                  {{#each trail.features as |feature|}}
                  <li>{{ feature_name }} </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{!-- {{> user-comment}} --}}