<div class="section">
  <div class="container">
    <div id="overlay-cards" class="columns is-multiline is-vcentered is-centered">
      <div class="column is-4">
        <div class="card is-on-left">
          <div class="card-header">
            <div class="card-header-title is-centered">
              <strong>{{ trail.trail_name }}</strong>
            </div>
          </div>
          <div class="card-image">
            <figure class="image">
              <img src="{{ trail.galleries.[0].url }}" alt="Trail Image">
            </figure>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a rel="noopener noreferrer" target="_blank" href="http://maps.google.com/maps?z=12&t=m&q=loc:{{trail.latitude}}+{{trail.longitude}}"
                  class="card-footer-item">
                  Go to Directions!
                </a>
              </span>
            </p>
            <p class="card-footer-item">
              <span>
                <input id="heart" type="checkbox" />
                <label for="heart">❤ Add to Favorite</label>
              </span>
            </p>
          </footer>
        </div>
      </div>

      <div class="column is-6">
        <div class="card is-on-right">
          <div class="card-content">
            <div class="columns is-multiline">
              <div class="column is-6">
                <ul>
                  <li><strong>Area: </strong>{{ trail.location.location_name }}</li>
                  <li><strong>Trail Type: </strong>{{ trail.type }}</li>
                  <li><strong>Difficulty: </strong>{{ trail.difficulty }}</li>
                  <li><strong>Distance: </strong>{{ trail.distance }} miles</li>
                  <li><strong>Elevation Gain: </strong>{{ trail.elevation_gain }} ft.</li>
                </ul>
              </div>
              <div class="column is-6">
                <ul>
                  <li><strong>Features: </strong></li>
                  {{#each trail.features as |feature|}}
                  <li>{{ feature_name }} </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input accept="image/*" type="file" name="image" id="image-upload" class="button ">
          <strong>Upload Image</strong>
          </input>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section">
  <div class="container">
    <div class="columns is-multiline is-vcentered">
      {{#each uploads}}
      <div class="column is-4">
        <div class="card">
          <img src="{{url}}" alt="image">
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{#if photos}}
<section>
  {{#each photos}}
  <div id={{id}}>
    <picture>
      <img src="{{url}}" alt="{{name}}" />
    </picture>
  </div>
  {{/each}}

  {{/if}}
  </div>
</div>

  <script>
    const imageUploadEl = document.querySelector('#image-upload');

    imageUploadEl.addEventListener('change', async (event) => {
      const file = event.target.files[0];
      const formData = new FormData();
      const config = {
        withCredentials: true
      };

      formData.append('file', file);
      const item = await axios.post('/api/upload/{{trail.id}}', formData, config);
      if (item) location.reload();
    });

  </script>
  {{!-- {{> user-comment}} --}}